.catalog-cards__content {
  display: grid;
  gap: 1.875rem;
  padding: 6.1% 0px 7.4% 0px;
}

.item-catalog-cards {
  position: relative;
  min-height: 18.125rem;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  }

  .item-catalog-cards__content {
    position: relative;
    z-index: 2;
    padding: 6%;
  }

  .item-catalog-cards__title {
    &:not(:last-child) {
      margin-bottom: 1.25em;
    }
  }

  .item-catalog-cards__link-title {
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 142%;
    &::after {
      content: "";
      display: block;
      width: 4.375rem;
      height: 0.125rem;
      background-color: #e8aa31;
      transition: width 0.8s ease 0s;
      margin-top: 0.9375rem;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .item-catalog-cards__item {
    position: relative;
    padding-left: 1.25rem;
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.4em;
      left: 0;
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background-color: #e8aa31;
    }
  }

  .item-catalog-cards__link {
    line-height: 133%;
    &:hover {
      text-decoration: underline;
    }
  }

  .item-catalog-cards__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    transform: translate(0px, 8%);

    & img {
      max-width: 100%;
    }
  }
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .catalog-cards__content {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .item-catalog-cards__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
