.products-block {
  .products-block__content {
    display: grid;
    gap: 1.875rem;
    padding-bottom: 7.5%;
  }
}

.product-block {
  position: relative;
  min-height: 18.125rem;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  }

  .product-block__content {
    position: relative;
    z-index: 2;
    padding: 6%;
  }

  .product-block__title {
    &:not(:last-child) {
      margin-bottom: 1.25em;
    }
  }

  .product-block__link-title {
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 142%;
    &::after {
      content: "";
      display: block;
      width: 4.375rem;
      height: 0.125rem;
      background-color: #e8aa31;
      transition: width 0.8s ease 0s;
      margin-top: 0.9375rem;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .product-block__text {
    line-height: 150%;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: 2.5em;
    }
  }

  .product-block__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    transform: translate(0px, 8%);

    & img {
      max-width: 100%;
    }
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 710px) {
  .product-block__button {
    width: 100%;
  }
}

@media (min-width: 710px) {
  .product-block__text {
    max-width: 16.4375rem;
  }

  .product-block__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

@media (min-width: 767px) {
  .products-block__content {
    grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
  }
}
